fastapi==0.111.0
uvicorn[standard]==0.30.1

# Banco de dados
SQLAlchemy==2.0.30
psycopg2-binary==2.9.9

# Autenticação e segurança
python-jose[cryptography]==3.3.0
passlib[argon2]==1.7.4
argon2_cffi==21.3.0

# Utilidades
pydantic==2.8.2
python-dotenv==1.0.1